* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Layout */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: orange;
    color: #151515;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .nav-logo {
        font-size: 1.5rem;
        font-weight: 700;
    }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 2rem);
    padding: 3rem 2rem;
    text-align: center;
}

    .home-container h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .home-container p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .input-container form {

    }

        .input-container input {
            width: 100%;
            height: 50px;
            padding: 0 1rem;
            font-size: 1.5rem;
            border: 1px solid #151515;
            border-radius: 5px;
            margin-bottom: 1rem;
        }

        .btn-primary {
            width: 100%;
            height: 50px;
            font-size: 1.5rem;
            border: 1px solid #151515;
            border-radius: 5px;
            cursor: pointer;
            background-color: orange;
        }

        .btn-primary:hover {
            background-color: #151515;
            color: orange;
        }

/* Modal */
dialog {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 500px;
    min-height: 300px;
    position: absolute;
    top: calc(50% - 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
}